html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn-primary,.btn-primary:hover{
  background-color: #000080;
}
.btn-outline-primary {
  color: #000080;
  border-color: #000080;
}
.btn-outline-primary:hover {
  background-color: #000080;
  border-color: #000080;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.pricing-card.active{
    background-color: lightcyan;
    box-shadow: 1px 1px 10px 6px #ddd;
    transition: all .6s;
}
#albums>div{
  margin-bottom: 20px;
}
#albums>div>div{
  text-align: center;
  height: 100%;
  border: 1px solid #ddd;  
  border-radius: 10px;
}
#albums img{
  width: 100%;
  object-fit: cover;
  height: 129px;
}
#albums h6 {
  margin: 10px 5px 10px 6px;
}
#loading{
  border: 1px solid #ddd;  
  border-radius: 10px;
  font-size: 20px;
}
.loader {
  width: 25px;
  height: 25px;
  border: 5px solid blue;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 